@model WebApp.Models.Home.PaginaInicialViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assessment Eloy Barbosa</h1>
    </div>
<div class="text-center">
    <h2 class="display-4">Quantidade de Amigos</h2>
    <p>@Model.QtdAmigos</p>
</div>
<div class="text-center">
    <h2 class="display-4">Quantidade de Paises</h2>
    <p>@Model.QtdPaises</p>
</div>
<div class="text-center">
    <h2 class="display-4">Quantidade de Estados</h2>
    <p>@Model.QtdEstados</p>
</div>
